<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container"  style="margin: 20px;" >
    <input class="form-control" type="text" name="userName" [(ngModel)]="userName" (ngModelChange)="Search()"
    placeholder="Enter User Name to search" style="margin: 10px;" >
</div>
<div width='200px'>
    <table class="table">
        <thead  class="bg-primary" style="color: white; font-size: 14px;">
            <tr >
                <!-- <th>Id</th> -->
                <th>User Name</th>
                <th>Name</th>
                <th>Account Number</th>
                
                <th>Business Type</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of sortedAccounts"  class="table-active" style="font-size: 16px;">
                <!-- <td>{{account.id}}</td> -->
                <td>{{account.userName }}</td>
                <td>{{account.insuredName }}</td>
                <td>{{account.accountNumber}}</td>
                <td>{{account.businessSegmentName | titlecase }}</td>
                <td>{{account.insuredStreet | titlecase }}</td>
                <td>{{account.insuredCity| titlecase }}</td>
                <td>{{account.insuredState| titlecase }}</td>
                <td>{{account.insuredZip }}</td>
            </tr>
            <tr *ngIf="!sortedAccounts||sortedAccounts.length==0">
                <th colspan="9">
                            <p class="text-center text-danger">Sorry No Accounts Available</p>
                </th>
            </tr>
        </tbody>
    </table>
</div>